{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'delete.css' %}">





    <form method="post">{% csrf_token %}
        <p >Are you sure you want to delete "{{ object }}"?</p>
        <div class="buttons">
            <div class="btn_confirm">
                <button type="submit" value="Confirm">
                    Confirm
                </button>
            </div>
            <div class="s_button">
                <button class="btn_cancel">
                <a class="button_cancel"
                    href="{% url 'songs_list' %}"
                    role="button"> Cancel
                </a>
                </button>
            </div>
        </div>
        
        

    </form>


{% endblock %}