{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'songs.css' %}">



<div class="songs">
    <h3> SONGS </h3>

    <div class="jumbotron">
        <ul>
            {% for song in object_list %}
                {% if temp1 == temp2 %}
                    <section>

                        <div class="input">
                            <div class="s_list">
                                <a href="{% url 'looper' pk=song.id %}">
                                    {{ song.band }} - {{ song.song_title }} - ({{ song.description }})
                                </a>
                            </div>
                            <div class="btn_update">
                            <div class="s_button">
                                <a class="btn btn-primary btn-sm" href="{% url 'update_song' pk=song.id %}"
                                   role="button">Update
                                </a>
                            </div>
                            </div>
                            <div class="btn_delete">
                             <div class="s_button">
                                <a class="btn btn-primary btn-sm" href="{% url 'delete_song' pk=song.id %}"
                                   role="button">Delete
                                </a>
                            </div>
                            </div>
                        </div>

                    </section>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}