
.input-group-prepend {
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 30px ;
}

.input-group-text {
    
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    
  }
